Conflicting guidlines for handling multiple tracestate headers

There is conflicting information about how to handle multiple tracestate headers in the spec.

In section [3.3.1.1 tracestate Header Field Values](https://w3c.github.io/trace-context/#tracestate-header-field-values) we say:

> Multiple tracestate headers are allowed. Values from multiple headers in incoming requests SHOULD be combined in a single header according to Field Order [RFC7230], and sent as a single header in an outgoing request.

In section [3.3.1.5 tracestate Limits](https://w3c.github.io/trace-context/#tracestate-limits) we say:

> There might be multiple tracestate headers in a single request according to RFC7230 section 3.2.2. Vendors may propagate them as they came, combine them into a single header, or split them into multiple headers differently, following the RFC specification.

So, in one case we say that multiple tracestate headers must be combined before sending, and in the other, we say they can be combined, or sent separately.

We should clarify what we expect to happen in the multiple header case, and make sure the spec is consistent. I also wonder if we need to mention this at all, and could just say, tracestate can be split into multiple headers and should be processed according to [RFC7230 Section 3.2.2](https://tools.ietf.org/html/rfc7230#section-3.2.2).